.Button
  position relative
  display inline-flex
  align-items center
  justify-content center
  border none
  outline none
  cursor pointer
  font-family roboto
  font-weight 500
  border-radius 9999px
  transition all 0.3s ease-out

  &--primary
    background-color #FF7700
    color #fff

  &--secondary
    background-color #8366561F
    color #222

  &--disabled
    opacity 0.36
    cursor not-allowed

  &--focused
    box-shadow 0 0 0 2px rgba(#0080ff, 0.5)

  &__content
    display inline-flex
    align-items center
    transition opacity 0.3s ease

  &__label
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    max-width 100%

  &__counter
    background: #FFFFFF1F !important
    color: inherit !important
    margin-left 8px
    border-radius 9999px
    padding 0 6px


  &__loader
    position absolute
    transform translate(-50%, -50%)
    animation spin 1s linear infinite

  @keyframes spin
    0%
      transform rotate(0deg)
    100%
      transform rotate(360deg)

  &--loading
    .Button__content
      opacity 0

  &--size-28
    padding 6px 10px
    font-size 13px
    border-radius: 9.3px;

    &:hover
      padding 7px 13px
    &:active
      transform scale(0.98)

  &--size-36
    padding 8px 12px
    font-size 14px
    border-radius: 12px;

    &:hover
      padding 9px 15px
    &:active
      transform scale(0.98)

  &--size-56
    padding 16px 16px
    font-size 16px
    border-radius: 16px;
    &:hover
      padding 17px 19px
    &:active
      transform scale(0.98)
